In [33]:
import pandas as pd
from sklearn.preprocessing import MultiLabelBinarizer, MinMaxScaler
from sklearn.metrics.pairwise import cosine_similarity

In [9]:
import pandas as pd

# Load dataset
df = pd.read_csv("anime.csv") 

# Inspect data
df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [11]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12294 non-null  int64
 1   name      12294 non-null  object
 2   genre     12232 non-null  object
 3   type      12269 non-null  object
 4   episodes  12294 non-null  object
 5   rating    12064 non-null  float64
 6   members   12294 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.5+ KB
None

In [13]:
print(df.isnull().sum())

anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64

In [17]:
df['genre'] = df['genre'].fillna('Unknown')
df['genre'] = df['genre'].apply(lambda x: x.split(', '))

In [31]:
mlb = MultiLabelBinarizer()
genre_encoded = pd.DataFrame(mlb.fit_transform(df['genre']), columns=mlb.classes_)
genre_encoded

,Action,Adventure,Cars,Comedy,Dementia,Demons,Drama,Ecchi,Fantasy,Game,...,Slice of Life,Space,Sports,Super Power,Supernatural,Thriller,Unknown,Vampire,Yaoi,Yuri
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,1,1,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12289,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12290,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12291,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12292,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12293,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
# Normalize rating and members
scaler = MinMaxScaler()
numerical_features = df[['rating', 'members']].fillna(0)
numerical_scaled = pd.DataFrame(scaler.fit_transform(numerical_features), columns=['rating', 'members'])
numerical_scaled

       rating   members
0       0.937  0.197872
1       0.926  0.782770
2       0.925  0.112689
3       0.917  0.664325
4       0.916  0.149186
...       ...       ...
12289   0.415  0.000203
12290   0.428  0.000176
12291   0.488  0.000211
12292   0.498  0.000168
12293   0.546  0.000135

[12294 rows x 2 columns]

In [25]:
features = pd.concat([genre_encoded, numerical_scaled], axis=1)
features

,Action,Adventure,Cars,Comedy,Dementia,Demons,Drama,Ecchi,Fantasy,Game,...,Sports,Super Power,Supernatural,Thriller,Unknown,Vampire,Yaoi,Yuri,rating,members
0,0,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0.937,0.197872
1,1,1,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0.926,0.782770
2,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.925,0.112689
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0.917,0.664325
4,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.916,0.149186
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12289,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.415,0.000203
12290,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.428,0.000176
12291,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.488,0.000211
12292,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.498,0.000168
12293,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.546,0.000135

In [27]:
features.drop(columns='Unknown')

,Action,Adventure,Cars,Comedy,Dementia,Demons,Drama,Ecchi,Fantasy,Game,...,Space,Sports,Super Power,Supernatural,Thriller,Vampire,Yaoi,Yuri,rating,members
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0.937,0.197872
1,1,1,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0.926,0.782770
2,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.925,0.112689
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0.917,0.664325
4,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.916,0.149186
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12289,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.415,0.000203
12290,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.428,0.000176
12291,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.488,0.000211
12292,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.498,0.000168
12293,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.546,0.000135

In [35]:
similarity_matrix = cosine_similarity(features)

In [37]:
def recommend_anime(title, top_n=5, threshold=0.5):
    idx = df[df['name'] == title].index[0]
    sim_scores = list(enumerate(similarity_matrix[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = [i for i in sim_scores if i[1] >= threshold and i[0] != idx][:top_n]
    anime_indices = [i[0] for i in sim_scores]
    return df['name'].iloc[anime_indices]

In [75]:
a=list(enumerate(similarity_matrix[2]))
a=sorted(a, key=lambda x: x[1], reverse=True)
a=[i for i in a if i[1] >= 0.5 and i[0] != 1][:5]
b=[i[0] for i in a]
df['name'].iloc[b]

2                                              Gintama°
9                              Gintama&#039;: Enchousen
4                                         Gintama&#039;
8     Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...
65               Gintama Movie: Shinyaku Benizakura-hen
Name: name, dtype: object

In [39]:
print(recommend_anime("Naruto", top_n=10, threshold=0.6))

615                                    Naruto: Shippuuden
1472          Naruto: Shippuuden Movie 4 - The Lost Tower
1573    Naruto: Shippuuden Movie 3 - Hi no Ishi wo Tsu...
486                              Boruto: Naruto the Movie
1343                                          Naruto x UT
2997    Naruto Soyokazeden Movie: Naruto to Mashin to ...
1103    Boruto: Naruto the Movie - Naruto ga Hokage ni...
2458                 Naruto Shippuuden: Sunny Side Battle
175                                Katekyo Hitman Reborn!
7628                              Kyutai Panic Adventure!
Name: name, dtype: object